apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: todo-app:latest  # Gunakan local image untuk Minikube (tidak perlu repo eksternal)
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "400m"
            memory: "256Mi"
        volumeMounts:
        - mountPath: /data
          name: data-volume
        - mountPath: /uploads
          name: uploads-volume
        readinessProbe:  # Tambah untuk pastikan pod ready sebelum traffic
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: data-volume
        emptyDir: {}
      - name: uploads-volume
        emptyDir: {}