name: CI/CD Todo App + Kubernetes Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-app:${{ github.sha }}, ${{ secrets.DOCKER_USERNAME }}/todo-app:latest

      - name: Setup Minikube
        uses: medyagh/setup-minikube@latest

      - name: Deploy ke Minikube (test)
        run: |
          minikube start --driver=docker --cpus=2 --memory=4096
          minikube image load ${{ secrets.DOCKER_USERNAME }}/todo-app:${{ github.sha }}
          kubectl apply -f kubernetes/deployment.yaml
          kubectl apply -f kubernetes/service.yaml
          kubectl apply -f kubernetes/hpa.yaml
          sleep 45
          kubectl get pods
          kubectl get svc
          kubectl get hpa
